{% extends "_layout.html" %}

{% block content %}
<h1>Secure Dynamic Messaging Backend Server{% if demo_mode %} Example{% endif %}</h1>
{% if demo_mode %}
<p>Some of the example SDM values below were taken from <a
        href="https://www.nxp.com/docs/en/application-note/AN12196.pdf">AN12196: "NTAG 424 DNA and NTAG 424 DNA
        TagTamper features and
        hints"</a>.</p>
<ul>
    <li><strong>NTAG 424 DNA:</strong> Plaintext tag UID, read counter mirroring with SDMMAC (CMAC)<br>
        <a href="/tagpt?uid=041E3C8A2D6B80&ctr=000006&cmac=4B00064004B0B3D3">
            <code>/tagpt?uid=041E3C8A2D6B80&ctr=000006&cmac=4B00064004B0B3D3</code>
        </a>
    </li>

</ul>
{% endif %}
{% endblock %}